/*Media Queries
Code by Proton*/
@media (max-width: 576px){
    .count-down{
        width: 100%;
        height: 100vh;
        background: url(../images/background2.jpg) center center;
        background-size: cover;
        overflow: hidden;
    }
    .profile{
    font-size: 20px;
    width: 220px;
    text-align: center;
}
    .top{
        width: 75%;
        height: 30%;
        margin: 0 auto;
    }
    .top-img-1{
        margin-left: 9%;
        margin-right: 2%;
    }
    .chuot{width: 15%;opacity: 0;visibility: visible;}
    .so2020{
        width: 15%;
        position: relative;
        top: 0%;
        -webkit-animation: up2 1.2s ease-in-out 3s infinite alternate;
    }
    .top-img-2{animation-delay: 0.4s;margin-left: -7%;}
    @-webkit-keyframes up2{
        to {top: -5%;}
    }
    .top-img-3{animation-delay: 0.8s;}
    .top-img-4{animation-delay: 1.2s;}
    .top-img-5{animation-delay: 1.6s;}
    .center{
        width: 100%;
        height: 30%;
    }
    .phaotet{
        width: 50%;
        height: 46%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        position: relative;
        display: none;
    }
    .time{
        width: 85%;
        height: 54%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .one-time{
        width: 65px;
        height: 100%;
    }
    .one-time p{
        display: block;
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        font-family: Nunito-Black;
    }
    .one-time b{
        color: #ce2525;
        font-size: 30px;
        display: block;
        border: 3px solid #d02525;
        border-radius: 50%;
        text-align: center;
        width: 100%;
        height: 65px;
        line-height: 65px;
        text-shadow: 1px 1px 3px #474747;
        font-family: Nunito-Bold;
    }
    .phaotet img{
        height: 70%;
        width: auto;
        position: absolute;
        top: -6%;
        opacity: 0.8;
    }
    .phaotet1{left: -15%;}
    .phaotet2{left: 24%;}
    .phaotet3{left: 64%;}
    .phaotet4{left: 104%;}
    .cd{
        width: 50px;   
        height: 50px;
        z-index: 6;
    }
    .bot{
        width: 80%;
        height: 40%;
        margin: auto;
    }
    .chuctet{width: 100%;margin-top: 20px;}
    .bot-img-2{
        width: 25%;
        margin-left: 13.5%;
        position: fixed;
        top: 17%;
        left: 25%;
    }
    .bot-img-3{margin-left: 10.5%;display: none;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
    .count-down{
        width: 100%;
        height: 100vh;
        background: url(../images/background3.jpg) center center;
        background-size: cover;
        overflow: hidden;
    }
    .top{
        width: 65%;
        height: 30%;
        margin: 0 auto;
    }
    .top-img-1{
        margin-left: 0%;
        margin-right: 2%;
    }
    .chuot{width: 15%;margin-top: 20%;}
    .so2020{
        width: 15%;
        position: relative;
        top: -10%;
        -webkit-animation: up2 1.2s ease-in-out 3s infinite alternate;
    }
    .top-img-2{animation-delay: 0.4s;}
    @-webkit-keyframes up2{
        to {top: -15%;}
    }
    .top-img-3{animation-delay: 0.8s;}
    .top-img-4{animation-delay: 1.2s;}
    .top-img-5{animation-delay: 1.6s;}
    .center{
        width: 100%;
        height: 30%;
    }
    .phaotet{
        width: 90%;
        height: 46%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        position: relative;
        display: none;
    }
    .time{
        width: 85%;
        height: 54%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .one-time{
        width: 100px;
        height: 100%;
    }
    .one-time p{
        display: block;
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        font-weight: bold;
        font-family: Nunito-Black;
    }
    .one-time b{
        color: #ce2525;
        font-size: 60px;
        display: block;
        border: 3px solid #d02525;
        border-radius: 50%;
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-shadow: 3px 1px 5px #474747;
        font-family: Nunito-Bold;
    }
    .phaotet img{
        height: 80%;
        width: auto;
        position: absolute;
        top: -14%;
        opacity: 0.8;
    }
    .phaotet1{left: 15%;}
    .phaotet2{left: 37%;}
    .phaotet3{left: 59%;}
    .phaotet4{left: 81%;}
    .cd{
        width: 50px;   
        height: 50px;
        z-index: 6;
    }
    .bot{
        width: 90%;
        height: 40%;
        margin: auto;
    }
    .chuctet{width: 44%;margin-top: 8%;}
    .bot-img-2{
        width: 15%;
        margin-left: 13.5%;
        display: none;
    }
    .bot-img-3{margin-left: 10.5%;}
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1900px){
    .count-down{
        width: 100%;
        height: 100vh;
        background: url(../images/background4.jpg) center center;
        background-size: cover;
        overflow: hidden;
    }
    .profile{
    margin-top: 70px;
}
    .phaotet img{
        height: 85%;
        width: auto;
        position: absolute;
        top: 22%;
        opacity: 0.8;
        margin-left: 1%;
    }
    .phaotet{display: none;}
    .phaotet1{left: 15%;}
    .phaotet2{left: 37%;}
    .phaotet3{left: 59%;}
    .phaotet4{left: 81%;}
}
@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
    .count-down{
        width: 100%;
        height: 100vh;
        background: url(../images/background5.jpg) center center;
        background-size: cover;
        overflow: hidden;
    }
    .profile{}
    .top{
        width: 70%;
        height: 25%;
        margin: 0 auto;
        margin-top: 3%;
    }
    .top-img-1{
        margin-left: 9%;
        margin-right: 2%;
    }
    .chuot{width: 15%;}
    .so2020{
        width: 12%;
        position: relative;
        top: -10%;
        -webkit-animation: up2 1.2s ease-in-out 3s infinite alternate;
    }
    .top-img-2{animation-delay: 0.4s;}
    @-webkit-keyframes up2{
        to {top: -15%;}
    }
    .top-img-3{animation-delay: 0.8s;}
    .top-img-4{animation-delay: 1.2s;}
    .top-img-5{animation-delay: 1.6s;}
    .center{
        width: 100%;
        height: 35%;
    }
    .phaotet{
        width: 50%;
        height: 46%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        position: relative;
        display: none;
    }
    .time{
        width: 85%;
        height: 54%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .one-time{
        width: 100px;
        height: 100%;
    }
    .one-time p{
        display: block;
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        font-weight: bold;
        font-family: Nunito-Black;
    }
    .one-time b{
        color: #ce2525;
        font-size: 60px;
        display: block;
        border: 3px solid #d02525;
        border-radius: 50%;
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-shadow: 3px 1px 5px #474747;
        font-family: Nunito-Bold;
    }
    .phaotet img{
        height: 85%;
        width: auto;
        position: absolute;
        top: -17%;
        opacity: 0.8;
    }
    .phaotet1{left: -16%;}
    .phaotet2{left: 22%;}
    .phaotet3{left: 63%;}
    .phaotet4{left: 103%;}
    .cd{
        width: 50px;   
        height: 50px;
        z-index: 6;
    }
    .bot{
        width: 80%;
        height: 38%;
        margin: auto;
    }
    .chuctet{width: 75%;margin: auto;display: block;}
    .bot-img-2{
        width: 15%;
        margin-left: 13.5%;
        display: none;
    }
    .bot-img-3{margin-left: 10.5%;display: none;}
}